body{
    background: rgba(0, 255, 255, 0.925);
    font: normal 15pt arial;
}
header{
    color: aliceblue;
    text-align: center;
}
section{
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}
div{
    text-align: center;
    padding: 8px;
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

#imagem{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding: 0px;
    margin: 1px;
}